{% extends "_layouts/elementindex" %}
{% set title = "Reports"|t %}
{% set elementType = 'Out_Report' %}

{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('out/new') }}">
			{{ "New Report"|t }}
		</a>
	</div>
{% endset %}
