.out {

	&--fields {
		button {
			color: rgba(0, 0, 0, 0.2);
			font-size: 100%;

			appearance: none;
			background: none;
			border: none;
			cursor: pointer;

			&:hover {
				color: #0d78f2;
			}
		}

		small {
			color: #8f98a3;
		}
	}

	&--modal {
		height: auto !important;
		min-width: 0 !important;
		min-height: 0 !important;
		max-width: 500px;

		button {
			font-size: 100%;
		}
	}

}